.mainSquare{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 685px;

    background: #F5F1F1;
    border-radius: 30px;
}

#searchButton{
    position: absolute;
    top: 45%;
    left: 45%;
    width: 60.03px;
    height: 60px;
    transition: transform 1s ease-out;
}

#searchButton.animate {
    transform: translate(-150px, 0);
}

#searchBar{
    position: absolute;
    top: 365px;
    left: 220px;
    width: 220px;
    height: 3px;
    opacity: 0;
    display: block;
    transition: transform 1s ease-in;
}

#searchBar.animate {
    transform: translate(0px, 0px);
    opacity: 1;
}

.input-wrapper {
    position: absolute;
    top: 315px;
    left: 214px;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    display: block;
    opacity: 0;
  }
  
  .input-wrapper input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 200px;
    box-sizing: border-box;
    font-size: 30px;
  }

  .input-wrapper.animate {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  

body{ 
   background-color: rgb(92, 144, 189);
}